# classification

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
train = pd.read_csv('Employee.csv')

In [16]:
train.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,Bachelors,2017,Bangalore,3,34,Male,No,0,0
1,Bachelors,2013,Pune,1,28,Female,No,3,1
2,Bachelors,2014,New Delhi,3,38,Female,No,2,0
3,Masters,2016,Bangalore,3,27,Male,No,5,1
4,Masters,2017,Pune,3,24,Male,Yes,2,1

In [17]:
#train['Education'].unique()
train['Gender'].unique()
#train['Education'].unique()

array(['Male', 'Female'], dtype=object)

In [40]:
train['Education'].replace(['Bachelors', 'Masters', 'PHD'],['0','1','2'],inplace= True)
train['City'].replace(['Bangalore', 'Pune', 'New Delhi'],['0','1','2'],inplace= True)
train['Gender'].replace(['Male', 'Female'],['0','1'],inplace= True)
train['EverBenched'].replace(['Yes', 'No'],['0','1'],inplace= True)
#train.drop(['JoiningYear'],axis=1,inplace = True)

In [41]:
train.head()

,Education,JoiningYear,City,PaymentTier,Age,Gender,EverBenched,ExperienceInCurrentDomain,LeaveOrNot
0,0,2017,0,3,34,0,1,0,0
1,0,2013,1,1,28,1,1,3,1
2,0,2014,2,3,38,1,1,2,0
3,1,2016,0,3,27,0,1,5,1
4,1,2017,1,3,24,0,0,2,1

In [42]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4653 entries, 0 to 4652
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Education                  4653 non-null   object
 1   JoiningYear                4653 non-null   int64
 2   City                       4653 non-null   object
 3   PaymentTier                4653 non-null   int64
 4   Age                        4653 non-null   int64
 5   Gender                     4653 non-null   object
 6   EverBenched                4653 non-null   object
 7   ExperienceInCurrentDomain  4653 non-null   int64
 8   LeaveOrNot                 4653 non-null   int64
dtypes: int64(5), object(4)
memory usage: 327.3+ KB

In [43]:
ytrain= train['LeaveOrNot']
xtrain= train.drop(['LeaveOrNot'],axis = 1)

In [44]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(xtrain,ytrain, test_size = 0.20, random_state =5)

# Logistic Regression

In [45]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
clf = LogisticRegression()

In [46]:
clf.fit(x_train, y_train)
rr = clf.predict(x_test)
accuracy_score(y_test,rr)

C:\Users\Arpit Patel\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.6981740064446831

# Decision Tree

In [49]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(random_state=42)
dtree.fit(x_train, y_train)

DecisionTreeClassifier(random_state=42)

In [52]:
dt = dtree.predict(x_test) 
accuracy_score(y_test,dt)

0.8195488721804511

# Random Forest

In [54]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=500, random_state=42)
rf.fit(x_train, y_train)

RandomForestClassifier(n_estimators=500, random_state=42)

In [55]:
rff = rf.predict(x_test) 
accuracy_score(y_test,rff)

0.8399570354457573