In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
df = pd.read_csv(r"C:\Users\Arpit Patel\Angular\Machine learning\My practice\insurance prediction\insurance.csv")

In [19]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [20]:
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [28]:
df['region'].unique()

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [33]:
df['sex'].replace(['male','female'],['1','0'],inplace=True)
df['smoker'].replace(['yes','no'],['1','0'],inplace=True)
df['region'].replace(['southwest', 'southeast', 'northwest', 'northeast'],['0','1','2','3'],inplace=True)

In [34]:
df.head()

   age sex     bmi  children smoker region      charges
0   19   0  27.900         0      1      0  16884.92400
1   18   1  33.770         1      0      1   1725.55230
2   28   1  33.000         3      0      1   4449.46200
3   33   1  22.705         0      0      2  21984.47061
4   32   1  28.880         0      0      2   3866.85520

In [46]:
y = df['charges'].values
X = df.drop(['charges'],axis=1).values

In [47]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=100)

In [48]:
from sklearn import linear_model
model = linear_model.LinearRegression()

In [49]:
model.fit(X_train, y_train)

LinearRegression()

In [50]:
print("Predict value " + str(model.predict([X_test[3]])))
print("Real value " + str(y_test[3]))

Predict value [2915.20739614]
Real value 1877.9294

In [45]:
print("Accuracy --> ", model.score(X_test, y_test)*100)

Accuracy -->  79.42462599118463